/*allgemein*/

* {
	margin:0;
	padding:0;
	list-style:none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
}

main {
	clear: both;
}

.gelb {
	color:#FFEE00;
}

.bild100{
	width: 100%;
  }

.bild{
	width: 50%;
}

.centertext{
	text-align: center;
}


/*----text--------------------------------------------------------------------------------*/
		h1 {
			color: white;
			font-size: 50px;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-weight: normal;
			text-align: center;
		}  

		h2 {
			color: white;
			font-size: 16px;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-weight: normal;
			text-align: center;
		}  

		h3 {
			color: #FFEE00;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-weight: normal;
			font-size: 28px;
			padding: 50px 15% 10px;
		}  


		h5{
			color: white;
			font-size: 24px;
		}

		p {
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
			font-size: 16px;
			margin: 10px 0px;
		}


  .vl{
	border-left: 12px solid rgb(255, 255, 255);
	height: 45px;
	padding-left: 20px;
	margin-bottom: 40px;
	margin-top: 100px;
  }

  .vl2{
	border-left: 12px solid rgb(255, 255, 255);
	height: 75px;
  }

/*----Projektpage--------------------------------------------------------------------------------*/  
  
	.Startbild {
		padding-top: 40px;
		width: 100%;
	}

	.textlayout{
		display: flex;
		justify-content: space-between;
		padding: 20px 15% 20px;
	}

	.Layout{
		text-align: center;
		padding: 20px 0px 20px;
	}

/*----Button--------------------------------------------------------------------------------*/
  .cv {
    display: flex;
    margin-top: 40px;
  }

  .cv a{
    margin-right: 20px;
  }


  .btn-outline-primary {
    color: #ffffff;
    border-color: #ffffff;
  }

  .btn-outline-primary:hover {
    color: black;
    background-color: #ffffff;
    border-color: #ffffff;
  }




/*----Navi--------------------------------------------------------------------------------*/

.navbar-collapse {
    justify-content: end;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    margin: 10px 30px 0px 30px;
}

body{
	padding-top: 100px;
	background-color: rgb(27, 27, 27);
}

  /* Navigation */
  .nav-link {
	margin-left: 40px;
	margin-right: 40px;
	color: rgba(255, 255, 255, 0.64);
}

.nav-link:hover {
color: #FFEE00;
}

.dropdown-item:hover {
color: #FFEE00;
}

.nav-link:focus {
	color: #FFEE00;
}

.navbar{
  background-color: rgb(27, 27, 27);
}

/*----Footer--------------------------------------------------------------------------------*/

#footer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;

  }
    .Icon {
      width: 35px;
      margin: 0px 10px;
    }